<div id="wrapper" class="container-fluid">
	<div class="row">
	<nav class="container-fluid col-md-2">
		<div>
			<img src="../assets/images/logo.png" alt="Logo" style="width: 100%"/>
		</div>
		<ul class="col-lg-12">
			<li class="active">Profile</li>
			<li>About</li>
			<li>Skills</li>
			<li>Projects</li>
			<li>Resume</li>
		</ul>
		<div class="social">
			<a href="https://www.facebook.com/" target="_blank" class="facebook">
				<img src="../assets/images/icons/icons.svg#icon-github" alt="" srcset="">
			</a>
			<a href="https://twitter.com/" target="_blank" class="twitter">
				<img src="../assets/images/icons/icons.svg#icon-stackoverflow" alt="" srcset="">
			</a>
			<a href="https://plus.google.com/" target="_blank" class="google-plus">
				<img src="../assets/images/icons/icons.svg#icon-linkedin" alt="" srcset="">
			</a>
		</div>
	</nav>
	<div class="col-md-10 main-section">
		<!-- <section class="col-md-12">
			<ng-container *ngFor="let index of [0,1,2,3,4]">
				<div class="card" style="width:400px">
					<img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">John Doe</h4>
						<p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
						<a href="#" class="btn btn-primary">See Profile</a>
					</div>
				</div>
			</ng-container>
		</section> -->

		<!-- Introduction -->
		<section id="Introduction" class="introduction">
			<div class="inner">
				<h2><span>HELLO, I'm</span><br>Rakesh Ranjan</h2>
				<span class="title">Frontend Developer</span>
			</div>
			<div class="intro-image">
				<img src="../assets/images/profile.jpg" alt="intro-image" srcset="">
			</div>
		</section>
		<section class="row">
			<div class="col-md-12"><app-image-card2x1></app-image-card2x1></div>
			<div class="col-md-12"><app-image-card2x1></app-image-card2x1></div>
			<div class="col-md-12"><app-image-card2x1></app-image-card2x1></div>
			<div class="col-md-12"><app-image-card2x1></app-image-card2x1></div>
			<div class="col-md-12"><app-image-card2x1></app-image-card2x1></div>
		</section>
	</div>
</div>
</div>

