@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html, body{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    //background-color: #212121 !important;
}

#wrapper{
   //margin: 0px 50px;
   // border: 1px solid;
    min-width: 100%;
    min-height: 500px;
}

.main-section{
    //border-left: 1px;
}

nav{
    background-color: #212121 !important;
    //border: 1px solid;
    ul{
        padding-left: 0px;

        li{
            width: inherit;
            border-bottom: 1px dotted #ccc;
            
                padding: 15px 20px 15px 24px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                color: #818181;
                text-decoration: none;
            

            &:hover{
                color: #7dba5c;
                text-decoration: underline;
            }
        }

        .active {
            color: #7dba5c;
            //padding-left: 14px;
            //border-left: 10px solid green;
        }


    }
}

.inner{
    padding: 70px;
}

.icon{
    margin: 15px;
}